.course-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.payment-process{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.payment-process .pass-list{
    height: 60%;
}

