.course-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.course__side-bar{
    width: 20%;
    height: 100%;
    display: flex;
}

.course__side-bar h1{
    color: var(--primary-color)
}

.payment-process{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.payment-process .pass-list{
    height: 60%;
}

