.course-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.payment-process{
    height: 90vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.payment-process .step-progress{
    margin-bottom: 5vh;
}

.payment-process .pass-list, .payment-process .form-container{
    margin-top: 5vh;
    height:50vh;
}

