div.content{
  text-align: center;
  width: 100vw;  
  transition: var(--transition);
}

div.content div.parallax{
  transition: var(--transition)
}

.content .parallax:first-child{
  padding-top: 10px;
}

.content .parallax:last-child{
  padding-bottom: 10px;
}

div.App{
  min-height:100vh;
  min-width: 100vw;
  background: url(/img/twill.jpg) fixed;
  overflow: hidden;
}

button, input{
  height: 7vh;
  background-color: transparent;
  font-size: 20px;
  text-align: center;
  color: white;
  border: 1px solid white;
}

input{
  width: 30vw;
}
button{
  width: 10vw;
}

.input:hover, button:hover:enabled{
  border: 1px solid var(--primary-color-darker);
}

button:disabled{
  color: grey;
  border: 1px solid grey;
}


