.pass-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* one item */
.pass:first-child:nth-last-child(1) {
/* -or- li:only-child { */
    width: 60%;
}

/* two items */
.pass:first-child:nth-last-child(2),
.pass:first-child:nth-last-child(2) ~ .pass {
    width: 30%;
}

/* three items */
.pass:first-child:nth-last-child(3),
.pass:first-child:nth-last-child(3) ~ .pass {
    width: 20%;
}

/* four items */
.pass:first-child:nth-last-child(4),
.pass:first-child:nth-last-child(4) ~ .pass {
    width: 15%;
}