.personal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
}

.personal-info input, .personal-info button{
    height: 7vh;
    width: 30vw;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    text-align: center;
}

.personal-info input:hover, .personal-info button:hover{
    border: 1px solid var(--primary-color-darker);
}

input:-webkit-autofill, 
input:-webkit-autofill:focus {
  border: 1px solid var(--primary-color-darkest);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}