.personal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
}

.personal-info input{
    height: 7vh;
    width: 30vw;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
}

.personal-info input:hover{
    border: 1px solid var(--primary-color-darker);
}